---
layout: page
title: Latest Posts
description: "Musings of a Geek. Personal website and blog of Sebastian Cachia"
tags: [sebcachia, Sebastian Cachia, blog, website, geek]
image:
  feature: homepage.png
---

<ul class="post-list">
{% for post in site.posts limit:10 %} 
  <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span>{% if post.excerpt %} <span class="excerpt">{{ post.excerpt }}</span>{% endif %}</a></article></li>
{% endfor %}
</ul>